.user-name{
    text-align: right;
    width: 90%;
    margin-top: 1rem;
}
.container {
    max-width: 80%;
    padding: 0;
    margin: 0 auto;
}

.form_header_text{
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 2rem;
    color: #ff9800;
}
.form {
  width: 70%;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 2rem;
}

.client_tasks, .donetasks {
    margin: 2rem;
    padding: 0;
}

#Help {
    color: black;
    background-color: #a3e0ff;
}

#Shopping{
    color: black;
    background-color: #fffdc3;
}
#Cleaning {
    color: black;
    background-color: #daeee9;
}

#Walking {
    color: #000;
    background-color: #d8f4ba;
}
#Driving{
    color: black;
    background-color: #ffe1c7;
}

.progressbar{
    color: #6a6a6a;
    padding: 1rem;
}

.btn {
    background-color: #ff9800;
    border: #ff9800;
    color: white;
    margin-top: 2rem;
}
  .btn:hover {
    background-color: white;
    border: 1px solid #ff9800;
    color: #ff9800;
}

/* .accordion-item, .accordion-button.collapsed{
    color: black;
    background-color: #dddddd;
} */

@media only screen and (max-width: 425px) {
    .client_tasks{
        margin: 1rem;
    }
}